<!DOCTYPE html>
<html>
<head>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script type='text/javascript' src="x2js-v1.1.5/xml2json.js"></script>
<script src="http://crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/md5.js"></script>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div ng-app="tableGenerator">
	<input type="checkbox" ng-model="clicked"> <b>Reverse  the table.</b>
<div ng-controller="JsonController" ng-hide="clicked">
<table class="hoverTable" id="table">
	<tr>
    <td><b>Gravatar</b></td>
		<td><b>ID</b></td>
		<td><b>First Name</b></td>
		<td><b>Last Name</b></td>
		<td><b>Phone Number</b></td>
    <td><b>Email</b></td>
	</tr>
  <tr ng-repeat="x in jsonUsers | orderBy:'Id'" ng-hide="clicked">
    <td><img src="http://www.gravatar.com/avatar/{{x.gravatar}}?s=48&d=identicon"></td>
    <td>{{ x.Id }}</td>
    <td>{{ x.FirstName }}</td>
    <td>{{ x.LastName }}</td>
   <td>{{ x.PhoneNumber }}</td>
   <td>{{ x.Email }}</td>
	</tr>
</table>
</div>
<div ng-controller="XMLController" ng-show="clicked">
<table class="hoverTable">
  <tr>
    <td><b>Gravatar</b></td>
    <td><b>ID</b></td>
    <td><b>First Name</b></td>
    <td><b>Last Name</b></td>
    <td><b>Phone Number</b></td>
    <td><b>Email</b></td>

  </tr>
  <tr ng-repeat="x in xmlUsers">
    <td><img src="http://www.gravatar.com/avatar/{{x.gravatar}}?s=48&d=identicon"></td>
    <td>{{ x.Id }}</td>
    <td>{{ x.FirstName }}</td>
    <td>{{ x.LastName }}</td>
   <td>{{ x.PhoneNumber }}</td>
   <td>{{ x.Email }}</td>
  </tr>
</table>
</div>
<a href="http://localhost/ICN/ExportDB.php?token=gryub67giriy&type=csv" download="download">Download CSV</a>
</div>
<script>
var app = angular.module('tableGenerator', []);
app.controller('JsonController', function($scope, $http) {
    $http.get("http://localhost/ICN/ExportDB.php?token=gryub67giriy&type=json")
    .success(function (data) {
      $scope.jsonUsers =  data.title;
    });
});
app.controller('XMLController', function($scope, $http) {
    $http.get("http://localhost/ICN/ExportDB.php?token=gryub67giriy&type=xml")
    .success(function (data) {
      var x2js = new X2JS();
      var jsonData = x2js.xml_str2json(data);
      $scope.xmlUsers = jsonData.root;
    });
});
</script>
</body>
</html>